% Source - https://stackoverflow.com/a
% Posted by Avi Parshan
% Retrieved 2025-11-15, License - CC BY-SA 4.0

## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb
**/*.bbl
**/*.bcf
**/*.blg
**/*.nlo
**/*.synctex.gz
**/*.fdb_latexmk

.DS_Store

# VS Code machine-specific files
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json

# Hardware artifacts
eeprom.bin

# Claude's local files
.claude
